/*CSS for hockey.html*/
.img-custom {
  width: 30vw;
  height: auto;
}
.img-top {
  float: left;
}
.img-bottom {
  float: right;
}
@media screen and (max-width: 620px){
  .img-custom {
    display:none;
  }
}
/*CSS for baseball.html*/
.together {
  margin: 2px;
  height: auto;
  width: 100vw;
  margin: 5px;
  padding: 0px 10px;
}
.together p {
  margin: 3px;
  padding: 3px;
}
.img-customer {
  float: left;
  width: 50vw;
  height: 60vh; 
  margin: 3px;
  padding: 5px;
}
@media screen and (max-width: 620px) {
  .img-customer {
    display: none;
  }
}
/*CSS for footus.html*/
.bandeau {
  width: 100vw;
  height: 250px;
}
/*CSS for mention_leg.html*/
.dimension {
  margin: auto;
  width: 60vw;
  height: auto;
}
/*CSS for index.html*/
.content {

}
.img-index {
  height: 90%; 
  width: 180px;
}
.top-view {
  width: 50%;
}
.bottom-view {
  width: 40%;
  margin: auto;
  padding-left: 5px;
  text-align: justify;
}
@media screen and (max-width: 820px) {
  .img-index {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .top-view {
    width: 100vw;
    margin: auto;
    padding: 5px;
  }
  .bottom-view {
    width: 100vw;
    margin: auto;
    padding: 5px;
  }
}