/*CSS for hockey.html*/
.img-custom {
  width: 30vw;
  height: auto;
}
.img-top {
  float: left;
}
.img-bottom {
  float: right;
}
@media screen and (max-width: 620px){
  .img-custom {
    display:none;
  }
}
/*CSS for baseball.html*/
.together {
  display: flex;
  margin: 2px;
  height: auto;
}
.side-left {
  width: 50%;
  margin: 6px;
  padding: 0px 10px;
}
.side-right {
  width: 40%;
  margin: auto;
  padding-left: 5px;
  text-align: justify;
}
.img-customer {
  width: 50vw;
  height: auto; 
}
@media screen and (max-width: 620px) {
  .img-customer {
    width: 100vw;
    height: auto;
    margin-right: 3px;
  }
  .together {
    display: flex;
    flex-direction: column;
  }
  .bottom-side {
    width: 100vw;
    margin: auto;
  }
}
/*CSS for footus.html*/
.bandeau {
  width: 100vw;
  height: 250px;
}
/*CSS for mention_leg.html*/
.dimension {
  margin: auto;
  width: 60vw;
  height: auto;
}
/*CSS for inderx.html*/
figure img {
  height: 100px;
  width: 100px;
}